<launch>
    <node pkg="golem_campose" name="openpose_collector" type="openpose_collector" launch-prefix="$(find golem_campose)/launch/debug.sh" />
    <node pkg="golem_campose" name="person_finder" type="person_finder" />
    <node pkg="golem_campose" name="flycap_publisher" type="flycap_publisher" />
    <param name="camera_topic" type="str" value="/flycap_cam/image" />
    <param name="image_width" type="int" value="500" />
</launch>
